# shellcheck shell=bash

# This file is automatically sourced by bash, and it's also sourced in .zshrc
# in order to keep the same aliases on both shells. So keep in mind that any
# code here must be compatible with bash and zsh.

refreshenv() { (
  set -e

  local shell
  shell=$(ps -p $$ -ocomm=)

  exec "${shell}"
); }

mcd() { (
  set -e

  local dir="$1"

  mkdir -p "${dir}"
  cd "${dir}"
); }

cdr() {
  cd "${HOME}/repos"
}

# See: https://github.com/twpayne/chezmoi/issues/854#issuecomment-675160348
chezmoi-re-run-scripts() { (
  set -ex

  rm -f "${HOME}/.config/chezmoi/chezmoistate.boltdb"
  chezmoi init --apply
); }

# {{ if .is_wsl }}
gsudo() { (
  set -e

  local shell
  shell=$(ps -p $$ -ocomm=)

  gsudo.exe wsl -d "${WSL_DISTRO_NAME?}" -e "${shell}" "-c" "$*"
); }

cdw() { (
  set -e

  local user_profile
  user_profile=$(wslvar USERPROFILE)
  local win_home
  win_home=$(wslpath "${user_profile}")

  cd "${win_home}"
); }
# {{ end }}

# git alias
alias g="git"
alias gad="git add ."
alias gcl="git clone"
alias gcm="git commit -m"
alias gco="git checkout"
alias gpu="git push"
alias gpl="git pull"
alias glg="git log --oneline"
alias gst="git status"
alias gsh="git stash"
alias gcu-l="git config user.name 'lstheart' && git config user.email 'dennis.lstheart@qq.com'"
alias gcu-d="git config user.name 'Dennis' && git config user.email 'Dennis_NX_Deng@wistron.com'"

## docker
alias dc="docker-compose"
alias dce="docker-compose exec"

# ls
alias ll='ls -alF'
alias la='ls -A'
alias l='ls -CF'

# chezmoi
alias cm='chezmoi'
alias cme='chezmoi edit'
alias cma='chezmoi add --autotemplate'
alias cmcd='chezmoi cd'
alias cmcf='chezmoi edit-config'